.portfolio-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.portfolio-title,
.project-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-color-text);
}

.portfolio-btn-items {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-bottom: 50px;
}

.selection-btn {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    letter-spacing: 0.03em;
    cursor: pointer;
    color: var(--primary-color-text);
    background: var(--background-color-individual-sections);
    border-radius: 4px;
    border-color: transparent;
    padding: 6px 22px;

    transition: color var(--transition-duration-timing-func),
        background-color var(--transition-duration-timing-func), box-shadow var(--transition-duration-timing-func);
}

.selection-btn:hover,
.selection-btn:focus {
    color: var(--text-color-dark-background);
    background: var(--active-color-hover-focus);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.items-job-portfolio {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.item-job-portfolio {
    width: 370px;
}

.portfolio-link {
    display: inline-block;
    text-decoration: none;
    color: inherit;

    transition: box-shadow var(--transition-duration-timing-func);
}

.portfolio-link:hover,
.portfolio-link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.bloc-img {
    position: relative;
    overflow: hidden;
}

.card-info {
    position: absolute;
    top: 0;
    left: 0;
    overflow: auto;
    width: 100%;
    height: 100%;
    padding: 63px 23px;

    background-color: var(--active-bgcolor-block-info);

    transform: translateY(100%);
    transition: transform var(--transition-duration-timing-func);

}

.portfolio-link:hover .card-info,
.portfolio-link:focus .card-info {
    transform: translateY(0);
}

.card-info {
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;

    color: var(--text-color-dark-background);
}

.container-job-portfolio {
    border: 1px solid var(--border-color);
    border-top: 0px;
    padding: 20px 24px;
}

.name-work {
    font-weight: 700;
    font-size: 18px;
    line-height: 2.0;
    letter-spacing: 0.06em;
    color: var(--primary-color-text);
    margin-bottom: 4px;
}

.type-work {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--secondary-color-text);
}

.subscription {
    display: flex;
    justify-content: end;
    align-items: center;

    margin-left: auto;
}