.social-link-items {
    @extend %align;
    column-gap: 10px;
}

.social-link {
    @extend %align;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    color: var(--primery-icon-color);

    transition: color var(--transition-duration-timing-func),
        transform var(--transition-duration-timing-func),
        height var(--transition-duration-timing-func);
}

.social-logo {
    // width: 34px;
    // height: 34px;
    fill: currentColor;
}

.social-link:hover {
    transform: scale(0.7);
    // background-color: var(--active-color-hover-focus);
    color: #FCFCFC;
}

.social-logo:focus {
    width: 35px;
    height: 35px;
    // background-color: var(--active-color-hover-focus);
    color: #FCFCFC;
}