.logo {
    margin-right: 93px;

    font-family: var(--secondary-font-text);
    font-weight: 700;
    @include font(26px, 31px);
    letter-spacing: 0.03em;
    color: var(--logo-color-light-background);
}

.logo__style {
    color: var(--logo-color);
}