.modal-window {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 528px;
    height: 581px;
    padding: 40px;

    background-color: var(--primary-background-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    transform: translate(-50%, -50%) scale(1);
    transition: transform var(--transition-duration-timing-func);
}

.btn-close-modal-window {
    position: absolute;
    top: 8px;
    right: 8px;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    color: var(--black-text);
    background-color: transparent;
    cursor: pointer;
    padding: 0;

    transition: color var(--transition-duration-timing-func);
}

.btn-close-icon {
    width: 18px;
    height: 18px;
    fill: currentColor
}

.btn-close-modal-window:hover,
.btn-close-modal-window:focus {
    color: var(--active-color-hover-focus);
}